html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-color: #AED7E1;
  /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/493520011191681029/A617FF45CC636AEA3FBAAFD9F680CF4657FCF3C4/");
  background-size: cover;
  background-size: contain;
  background-repeat: repeat-x;
  background-attachment: fixed; */
}

h1 { font-family: Lato; font-size: 36px; font-style: normal; font-variant: normal; line-height: 32px; }
h2 { font-family: Lato; font-size: 27px; font-style: normal; font-variant: normal; line-height: 27px; }
h3 { font-family: Lato; font-size: 22px; font-style: normal; font-variant: normal; line-height: 22px; }
p { font-family: Lato; font-size: 18px; font-style: normal; font-variant: normal; line-height: 20px; }
button {
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 25px;
  background-color: #FFEC51;
  border: solid;
  margin-right: 10px;
}
.img-div {
  text-align: center;
}

.poster {
  color: gray;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
}

.topic-description {
  margin-bottom: 20px;
}

/* start top bar */

/* entire top bar */
.top-bar {
  /* background-color: #367AB2; */
  background-color: white;
}

/* top bar left */
#haldom-forums-title {
  color: black;
  font-size: 32px;
  margin-bottom: 0px;
  font-family: Lato; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
  margin-bottom: 5px;
}

#haldom-forums-title > a {
  font-family: sans-serif;
}

/* top bar right */
#user-authentication-text {
  font-size: 22px;
  margin-bottom: 5px;
}

/* end top bar */

a:hover {
  color: #AED7E1;
}

/* tool bar and content below container */
#master-grid-container {
  padding: 0px;
  border: solid;
}

#communities-show-container {
  padding: 15px;
  border: solid;
  border-top: none;
  background-color: #E3F2FD;
}

#community-show-div {
  border: solid;
  border-color: #686963;
}

#topics {
  margin-top: 10px;
  padding: 6px;
  border-bottom: solid;
}

/* Communities Index Page Start */

/* Container for bottom 2 elements */
#communities-index-container {
  padding: 15px;
  border: solid;
  border-top: none;
  background-color: #E3F2FD;
}

/* Communities Header */
#communities-title {
  /* background-color: #FAFAFA; */
  padding: 3px;
  border-bottom: solid;
}

/* Community Tile Enclosing Div */
.community-tile-div {
  background-color: #FAFAFA;
  padding: 10px;
  margin-bottom: 10px;
  border: solid;
  border-color: #8AA29E;
}

/* Community Tile Name */
.community-tile-name {
  font-family: Lato; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 32px;
}

/* Communities Index Page End */

.topic-tile-name {
  margin-bottom: 0px;
  font-weight: 700;
}

.topic-tile {
  background-color: #FAFAFA;
  padding: 10px;
  margin-bottom: 10px;
  border: solid;
  border-color: #8AA29E;
}

a {
  color: black;
  font-style: normal;
}

#name {
  width: 630px;
}

#description {
  width: 630px;
}

textarea {
  width: 630px;
  /* 315 */
  height: 176px;
  /* 88 */
  resize: none;
  margin-bottom: 0px;
}
